@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
:root {
    --primary: rgba(6, 224, 253, 0.794);
    --secondary: rgb(53, 55, 78);
    --button: #081a30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

@media screen,
(max-width:320px) and (min-width:120px) {
    body {
        background-color: #000;
        min-width: 100vw;
        min-height: 100vh;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 20px 10px;
        z-index: 10000;
    }
    header.sticky {
        padding: 5px 5px;
        background: #fff;
    }
    header .logo {
        top: 1px;
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.6s;
        margin-left: .25em;
        text-shadow: 4px 2px 10px rgba(6, 224, 253, 0.794);
    }
    header ul {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header ul li {
        position: relative;
        list-style: none;
    }
    header ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 500px;
        transition: 0.6s;
        font-size: 1rem;
    }
    header ul li a:hover {
        color: var(--primary);
    }
    .material-icons {
        margin-left: .5em;
    }
    .banner {
        position: relative;
        width: 100%;
        height: 100vh;
        /*background: url(comp.jpg);*/
        background-size: cover;
        background-position: 70% 37%;
        opacity: 75%;
    }
    header.sticky ul li a {
        color: #000;
        height: 10px;
    }
    header.sticky .logo {
        top: 1px;
        color: #000;
    }
    .hero {
        height: 10em;
        width: 20em;
        position: absolute;
        left: 5%;
        top: 30%;
    }
    img {
        height: 20em;
        width: 20em;
        filter: sepia(300%) hue-rotate(160deg) saturate(450%);
    }
    h1 {
        position: absolute;
        left: 22px;
        top: 5rem;
        width: 20rem;
        font-size: 3rem;
        color: white;
        animation: animate 10s ease-in-out infinite, grow 3s linear forwards;
        z-index: 2;
        /*text-shadow: 2px 4px 10px rgb(6, 224, 253);*/
    }
    @keyframes grow {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
        }
    }
    @keyframes animate {
        0% {
            text-shadow: 2px 4px 10px rgb(6, 224, 253);
        }
        25% {
            text-shadow: 2px 4px 15px rgb(6, 224, 253);
            ;
        }
        50% {
            text-shadow: 5px 4px 20px rgb(6, 224, 253);
        }
        75% {
            text-shadow: 5px 4px 15px rgb(6, 224, 253);
        }
        100% {
            text-shadow: 2px 4px 10px rgb(6, 224, 253);
        }
    }
    .button {
        position: absolute;
        top: 13em;
        left: 12rem;
        width: 30%;
        color: white;
        text-shadow: 2px 4px 10px rgb(6, 224, 253);
        font-size: 1.5rem;
        border: 3px solid var(--primary);
        background-color: var(--button);
        text-decoration: none;
    }
    .button:hover {
        color: var(--primary);
        text-shadow: 2px 4px 10px white;
    }
    h2 {
        top: 30px;
        width: 3em;
        color: white;
        font-size: 2rem;
        z-index: 2;
    }
    p {
        text-align: left;
        left: .5rem;
        top: 15rem;
        position: absolute;
        height: 20em;
        width: 6em;
        color: var(--primary);
        font-size: 2rem;
        z-index: 1000;
        text-shadow: 3px 3px 3px 3px rgba(256, 256, 256, 0.794);
    }
    #about {
        top: 55%;
    }
    .about_img {
        position: absolute;
        top: 50em;
    }
    .ab_1 {
        top: 110%;
    }
    .ab_2 {
        top: 120%;
        color: white;
        font-size: 3rem;
    }
    .about_p {
        left: 1rem;
        top: 120%;
        width: 20rem;
        padding-bottom: 3em;
        font-size: 1rem;
    }
    .con_1 {
        position: absolute;
        top: -48%;
        font-size: 3rem;
    }
    .con_box {
        top: 195%;
        left: 1%;
        position: absolute;
        height: 20rem;
        width: 90%;
        border: dotted;
        color: var(--secondary);
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 5%;
    }
    .name,
    .email,
    .tel {
        background: black;
        color: var(--primary);
        width: 6em;
        margin-top: 1rem;
        margin-left: 1rem;
        order: 5;
        position: relative;
        font-size: 2rem;
        border: none;
        border-bottom: 3px solid var(--primary);
        outline: none;


    }
    /*.button2 {
        position: relative;
        color: white;
        left: 8%;
        top: 70%;
        font-size: 3rem;
        text-shadow: 1px 3px rgba(6, 224, 253, 0.50);
        border: none;
        padding: none;
        background: none;
    }*/s
    .button2:hover {
        color: var(--primary);
        text-shadow: 1px 1px white;
    }
    .work {
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary);
        top: 258%;
        position: absolute;
    }
    .work_1 {
        top: 5%;
        position: relative;
    }
    .project_1 {
        color: var(--primary);
        text-shadow: 4px 2px 10px var(--primary);
        text-decoration: none;
        font-size: 4rem;
        position: relative;
        top: 20%;
    }
    .project_1:visited {
        color: white;
    }
}

@media screen and (min-width: 930px) {
    body {
        
        min-height: 1000vh;
        min-width: 100vw;
    }
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 20px 10px;
        z-index: 10000;
    }
    header.sticky {
        padding: 5px 5px;
        background: #fff;
    }
    header .logo {
        top: 1px;
        text-align: center;
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.6s;
        margin-left: .25em;
        text-shadow: 4px 2px 10px rgba(6, 224, 253, 0.794);
    }
    header ul {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    header ul li {
        position: relative;
        list-style: none;
    }
    header ul li a {
        position: relative;
        margin: 0 15px;
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 500px;
        transition: 0.6s;
        font-size: 2rem;
        margin-right: 2em;
    }
    header ul li a:hover {
        color: var(--primary);
    }
    .material-icons {
        margin-left: .5em;
    }
    .banner {
        position: relative;
        width: 100%;
        height: 100vh;
        /*backgro-und: url(comp.jpg);*/
        background-size: cover;
        background-position: 70% 37%;
        opacity: 100%;
    }
    header.sticky ul li a {
        color: #000;
        height: 10px;
    }
    header.sticky .logo {
        top: 1px;
        color: #000;
    }
    .hero {
        top: 9em;
        height: 32em;
        width: 90em;
        background-color: var(--secondary);
        position: absolute;
    }
    .img_hero {
        margin-top: 1em;
        filter: sepia(300%) hue-rotate(160deg) saturate(450%);
        margin-left: 33em;
        height: 30em;
        width: 50em;
    }
    h1 {
        position: absolute;
        left: 40px;
        top: 1rem;
        width: 50rem;
        font-size: 5rem;
        color: white;
        animation: animate 10s ease-in-out infinite, grow 3s linear forwards;
    
        /*text-shadow: 2px 4px 10px rgb(6, 224, 253);*/
    }
    @keyframes grow {
        from {
            opacity: 0;
        }
        to {
            opacity: 100%;
        }
    }
    @keyframes animate {
        0% {
            text-shadow: 2px 4px 10px rgb(6, 224, 253);
        }
        25% {
            text-shadow: 2px 4px 15px rgb(6, 224, 253);
            ;
        }
        50% {
            text-shadow: 5px 4px 20px rgb(6, 224, 253);
        }
        75% {
            text-shadow: 5px 4px 15px rgb(6, 224, 253);
        }
        100% {
            text-shadow: 2px 4px 10px rgb(6, 224, 253);
        }
    }
    h2 {
        top: 30px;
        width: 3em;
        color: white;
        font-size: 5rem;
        z-index: 2;
    }
    p {
        background-color: rgba(53, 55, 78, .09);
        text-align: center;
        left: 8rem;
        top: 10rem;
        position: absolute;
        height: 7em;
        width: 8em;
        padding: 1em;
        color: var(--primary);
        font-size: 2rem;
        text-shadow: 3px 3px 3px 3px rgba(256, 256, 256, 0.794);
        z-index: 10000;
        border-radius: 3%;
    }
    /*.box {
        top: 80%;
        border-radius: 10%;
        position: absolute;
        height: 50px;
        width: 600px;
        background-color: var(--primary);
        box-shadow: inset 10px 15px 15px 10px rgba(0, 0, 0, 0.9);
        opacity: 60%;
        z-index: 0;
        animation: slide 3s linear forwards;
    }
    @keyframes slide {
        from {
            opacity: 0%;
            height: 0;
        }
        to {
            opacity: 60%;
            height: -50px;
        }
    }*/
    .button {
        justify-self: center;
        position: absolute;
        top: 13em;
        left: 6rem;
        width: 10em;
        color: white;
        text-shadow: 2px 4px 10px rgb(6, 224, 253);
        font-size: 2rem;
        background-color: rgba(0, 0, 0, .750);
        border: 3px solid var(--primary);
        background: var(--button);
        text-decoration: none;
    }
    .button:hover {
        color: var(--primary);
        text-shadow: 2px 4px 10px white;
    }
   /* #about {
        top: 60%;
        background: url(transformation.jpg);
        height: 45em;
        filter: sepia(10%), hue-rotate(4deg), saturate(400%);
    }*/
   .about_img {

    position: absolute;
    height: 45em;
    width: 100em;
    z-index: -1;
   }
    .ab_1 {
        left: 1em;
        position: relative;
        top: 2em;
        color: black;
        z-index: 100000;
    }
    .ab_2 {
        top: 120%;
        color: white;
        font-size: 3rem;
    }
    .about_us {
        justify-content: center;
        align-content: center;
    }
    span {
        top: 1px;
        text-align: center;
        position: relative;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.6s;
        margin-left: .25em;
        text-shadow: 4px 2px 10px rgba(6, 224, 253, 0.794);
    }
    
    .about_p {
        background-color: rgba(0,0,0,0.90);
        left: 8rem;
        top: 60em;
        width: 70rem;
        height: 10em;
        box-shadow: 0px 1px 10px 1px var(--primary);
        text-align: center;
    }
    .con_1 {
        margin-left: 2em;
        position: absolute;
        top: 100rem;
        left: 2rem;
        font-size: 3rem;
    }
    .con_box {
        top: 210%;
        left: 23%;
        position: absolute;
        height: 32rem;
        width: 50%;
        border: dotted;
        color: var(--secondary);
        flex-direction: column;
        flex-wrap: nowrap;
        margin-left: 5%;
    }
    .con_form {
        top: 3em;
        margin: 1em;
    }
    .name,
    .email,
    .tel {
        top: 1em;
        margin-top: 1rem;
        margin-left: 2rem;
        order: 5;
        position: relative;
        font-size: 3rem;
        outline: none;
        border-bottom: 3px solid var(--primary);
    }
    .my_con {
        position: relative;
        left: 15em;
        bottom: 7rem;
        font-size: 2rem;

    }
    .button2 {
        position: relative;
        color: white;
        left: 1em;
        bottom: 1em;
        width: 5em;
        font-size: 2rem;
        text-shadow: 1px 3px rgba(6, 224, 253, 0.50);
        border: 3px solid var(--primary);
        padding: 4px;
        background: var(--secondary);
    }
    .button2:hover {
        color: var(--primary);
        text-shadow: 1px 1px white;
    }
    .work {
        width: 100vw;
        height: 100vh;
        background-color: var(--secondary);
        top: 300%;
        position: absolute;
    }
    .work_1 {
        left: 1em;
        position: relative;
        top: 10%;
    }
    .project_1 {
        color: var(--primary);
        text-shadow: 4px 2px 10px var(--primary);
        text-decoration: none;
        font-size: 4rem;
        position: relative;
        top: 20%;
        left: 5em;
    }
    .project_1:visited {
        color: white;
    }
}